NARRATIONLAYER_DATA_DIR=
NARRATIONLAYER_PROFILES_FILE=
NARRATIONLAYER_DEFAULT_RENDERER=fake
NARRATIONLAYER_QWEN3_DAEMON_URL=http://127.0.0.1:8880
NARRATIONLAYER_QWEN3_AUTH_TOKEN_FILE=
NARRATIONLAYER_QWEN3_AUTH_TOKEN=
NARRATIONLAYER_QWEN3_REFERENCE_CLIP=
NARRATIONLAYER_QWEN3_REFERENCE_CLIPS=
NARRATIONLAYER_QWEN3_REFERENCE_TEXT=
NARRATIONLAYER_QWEN3_REFERENCE_TEXT_PATH=
NARRATIONLAYER_QWEN3_TIMEOUT_MS=120000
NARRATIONLAYER_QWEN3_PAUSE_STRATEGY=punctuation
NARRATIONLAYER_QWEN3_MAX_UTTERANCE_WORDS=24
NARRATIONLAYER_QWEN3_MIN_UTTERANCE_WORDS=3
NARRATIONLAYER_QWEN3_SENTENCE_PAUSE_SECONDS=0.65
NARRATIONLAYER_QWEN3_COMMA_PAUSE_SECONDS=0.25
NARRATIONLAYER_QWEN3_TRIM_SILENCE=true
NARRATIONLAYER_QWEN3_SILENCE_THRESHOLD_DB=-45
NARRATIONLAYER_QWEN3_SILENCE_PADDING_SECONDS=0.18
NARRATIONLAYER_QWEN3_REPAIR_WORD_TIMINGS=true
NARRATIONLAYER_QWEN3_MAX_CHUNK_DURATION_SECONDS=45
NARRATIONLAYER_QWEN3_MAX_CHUNK_SECONDS_PER_WORD=3
NARRATIONLAYER_QWEN3_MAX_CHUNK_RETRIES=1
